

body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

p {
  text-align: justify;
}

li {
  text-align: justify;
}

progress {
  float: right;
}

footer {
  text-align: center;
}
